@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 22px;
  }

  body {
    @apply text-black bg-tan;
  }

  .bg-writing {
    background: #f9f8f6;
  }

  .bg-craft {
    background: #f9f8f6;
  }

  #nprogress .bar {
    background: #f4ae23;
  }

  /* Fancy blur effect */
  #nprogress .peg {
    box-shadow: 0 0 10px #f4ae23, 0 0 5px #f4ae23;
  }

  #nprogress .spinner-icon {
    display: none;
  }

  p,
  li {
    @apply text-sm md:text-base;
  }

  h1 {
    @apply text-4xl font-medium leading-none tracking-tight mt-8 mb-2;
  }

  h2 {
    @apply text-2xl font-medium mt-4;
  }

  h3 {
    @apply text-xl font-medium mt-4;
  }

  h4 {
    @apply text-black-lighter mt-4;
  }

  h5 {
    @apply text-black-lighter font-medium mt-2;
  }

  strong {
    @apply font-medium;
  }

  a {
    @apply border-b-2 border-yellow;
  }

  a:hover {
    @apply text-yellow rounded-sm;
  }

  p,
  ul,
  ol {
    @apply mt-3;
  }

  ul {
    @apply list-disc ml-8;
  }

  ul li,
  menu li {
    @apply pb-2;
  }

  ul:last-child,
  menu:last-child {
    @apply pt-0;
  }

  hr {
    @apply mt-8 mb-8 opacity-10 border-black;
  }

  pre {
    font-size: 0.65rem;

    @media (min-width: 768px) {
      font-size: 0.8rem;
    }
  }

  p + hr {
    @apply mt-10;
  }

  .bullet {
    font-size: 12px;
    position: relative;
    top: -2px;
    margin-right: 1px;
    margin-left: 1px;
  }

  figcaption {
    font-family: "CalibreWeb";
    @apply mb-8 mt-2 text-xs;
  }

  /* .post-content Specific Styles */
  .post-content p,
  .post-content li {
    @apply font-serif md:text-sm;
    font-size: 0.7825rem;
    line-height: 1.425;
    letter-spacing: -0.125px;
  }

  .post-content h2,
  .post-content h3 {
    @apply leading-tight tracking-tight;
  }

  .post-content p + h2,
  .post-content ul + h2,
  .post-content ol + h2 {
    @apply mt-6;
  }

  .post-content p + ul {
    @apply mt-5;
  }

  .post-content p + ol {
    @apply mt-5;
  }

  .post-content ul + p,
  .post-content ol + p {
    @apply mt-4;
  }

  .post-content ul {
    @apply ml-3;
  }

  .post-content ul li {
    @apply pl-2;
  }

  .post-content ul li:last-child {
    @apply pb-0;
  }

  .post-content ol {
    @apply list-decimal ml-3;
  }

  .post-content ol li {
    @apply pl-2;
  }

  /* .project-content Specific Styles */
  .project-content p,
  .project-content li {
    @apply text-projectBasis;
    line-height: 1.325;
    letter-spacing: -0.125px;
  }

  .project-content p code,
  .project-content li code {
    @apply leading-snug md:leading-snug text-pink-500 px-1 bg-black-lighter/10 border-black-lighter border-opacity-40 border rounded;
    font-size: 0.725rem;
  }

  .project-content li:last-child {
    @apply mb-0;
  }

  .project-content h2,
  .project-content h3 {
    @apply leading-tight tracking-tight;
  }

  .project-content p + h2,
  .project-content ul + h2,
  .project-content ol + h2 {
    @apply mt-6;
  }

  .project-content p + ul {
    @apply mt-4;
  }

  .project-content ol {
    @apply list-decimal pl-7;
  }

  .project-content > p,
  .project-content > ul,
  .project-content > ol,
  .project-content > h2,
  .project-content > h3,
  .project-content > h4,
  .project-content > h5,
  .project-content > blockquote {
    @apply max-w-lg mx-auto;
  }

  .project-content h2 {
    @apply text-xl;
  }

  .project-content h3 {
    @apply text-lg;
  }

  .project-content > blockquote {
    @apply border-l-4 border-yellow pl-4 my-6;
  }

  .project-content ul {
    @apply pl-0;
  }

  .project-content ul li {
    @apply ml-4;
  }

  .project-content ol {
    @apply pl-4;
  }

  .project-content figure {
    @apply my-8;
  }

  .project-content figure img {
    @apply mx-auto;
  }

  .project-content figcaption {
    @apply text-center text-black-lighter;
  }

  .project-content .column-image {
    @apply max-w-lg mx-auto rounded border overflow-hidden border-black-lighter/10;
  }

  .project-content .snippet {
    @apply text-xs text-black-lighter mt-0 mb-3;
  }

  .project-content pre {
    @apply max-w-lg mx-auto bg-black rounded p-4 my-6 text-xxs leading-normal whitespace-pre-wrap;
  }

  .project-content .sourcegraph-search-home {
    max-width: 800px;
  }

  .project-content .sourcegraph-image {
    width: 920px;
  }

  .project-content .sourcegraph-image .example-middle {
    width: 920px;
  }

  .project-content .sourcegraph-image .diagram-left {
    @apply hidden lg:block;
    width: 160px;
    position: absolute;
    left: -160px;
    top: 6px;
  }

  .project-content .sourcegraph-image .diagram-right {
    @apply hidden lg:block;
    width: 131px;
    position: absolute;
    right: -131px;
    top: 8px;
  }

  .project-content .sourcegraph-callout-container {
    @apply bg-black-lighter bg-opacity-5 rounded mx-auto max-w-lg py-3 px-6 my-6;
  }

  .project-content .sourcegraph-callout {
    @apply text-sm text-black-lighter leading-snug my-0;
  }

  .project-content .code-host-connection-base {
    width: 640px;
  }
  .project-content .code-host-connection-item {
    width: 640px;
  }

  .icon-shift {
    position: relative;
    margin-top: -4px;
  }

  .publisher-badge {
    margin-top: 0.185rem;
  }

  .book {
    @apply overflow-hidden relative;
  }

  .book .fill {
    @apply w-full;
    padding-bottom: 157.5%;
  }

  .book img {
    @apply absolute top-0 left-0 w-full object-cover object-center;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.taste-wizard-iterations {
  background: rgba(255, 255, 255, 0.5);
}

.taste-wizard-iterations > p,
.taste-wizard-iterations > h2,
.taste-wizard-iterations > h3,
.taste-wizard-iterations > h4 {
  @apply px-4 md:px-32;
}

.taste-wizard-iterations video {
  @apply px-4 md:px-16 mt-8 mb-8;
}

.sourcegraph-cloud-iterations {
  background: rgba(255, 255, 255, 0.5);
}

.sourcegraph-cloud-iterations > p,
.sourcegraph-cloud-iterations > h2,
.sourcegraph-cloud-iterations > h3,
.sourcegraph-cloud-iterations > h4,
.sourcegraph-cloud-iterations > ul {
  @apply px-4 md:px-32;
}

.sourcegraph-cloud-iterations > ul {
  @apply ml-0;
}

.sourcegraph-cloud-iterations > ul li {
  @apply mb-0;
}

.callout {
  background-color: rgba(244, 174, 35, 0.15);
  position: relative;
}

.callout::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 0px;
  height: 0px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(244, 174, 35, 0.15);
}

.user-segments {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: -0.5px;
}

.user-segments .user-segment {
  padding-left: 6px;
  padding-right: 6px;
}

.user-segment--visitor {
  background-color: rgba(45, 127, 173, 0.3);
}

.user-segment--prospect {
  background-color: rgba(86, 146, 98, 0.3);
}

.user-segment--supporter {
  background-color: rgba(155, 109, 48, 0.3);
}

.user-segment--loyal-supporter {
  background-color: rgba(223, 104, 31, 0.3);
}

.client-list {
  @apply m-0 p-0 list-none;
}

.client-list li {
  @apply leading-none;
}

article blockquote {
  @apply border-l-4 border-yellow pl-4;
}

article blockquote > p {
  @apply font-sans;
}

article ol li {
  @apply mb-2;
}

.pepper {
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-decoration-thickness: 1.25px;
  text-underline-offset: 5px;
  text-decoration-color: #fab855;
}

@font-face {
  font-family: "CalibreWeb";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CalibreWeb-Regular.woff") format("woff"),
    url("/fonts/CalibreWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CalibreWeb";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/CalibreWeb-Semibold.woff") format("woff"),
    url("/fonts/CalibreWeb-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TiemposTextWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/TiemposTextWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/TiemposTextWeb-SemiboldItalic.woff") format("woff");
}
