@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 22px;
  }

  body {
    @apply text-black bg-tan;
  }

  p {
    @apply text-sm md:text-base;
  }

  h1 {
    @apply text-4xl font-medium leading-none tracking-tight mt-8 mb-2;
  }

  h2 {
    @apply text-2xl font-medium mt-4;
  }

  h3 {
    @apply text-xl font-medium mt-4;
  }

  h4 {
    @apply text-black-lighter mt-4;
  }

  h5 {
    @apply text-black-lighter font-medium mt-2;
  }

  strong {
    @apply font-medium;
  }

  a {
    @apply border-b-2 border-yellow;
  }

  a:hover {
    @apply text-yellow rounded-sm;
  }

  p,
  ul,
  ol {
    @apply mt-4;
  }

  ul {
    @apply list-disc mt-8 ml-8;
  }

  ul li,
  menu li {
    @apply pb-2;
  }

  ul:last-child,
  menu:last-child {
    @apply pt-0;
  }

  hr {
    @apply mt-8 mb-8 opacity-10 border-black;
  }
  
  pre {
    font-size: 0.65rem;
    
    @media (min-width: 768px) {
      font-size: 0.8rem;
    }
  }

  p + hr {
    @apply mt-10;
  }

  .post-header p {
  }

  .post-content p,
  .post-content li {
    @apply font-serif text-xs md:text-sm leading-relaxed md:leading-relaxed;
  }

  .post-content h2,
  .post-content h3 {
    @apply leading-tight tracking-tight;
  }

  .post-content p + h2,
  .post-content ul + h2,
  .post-content ol + h2 {
    @apply mt-8;
  }

  .post-content p + ul {
    @apply mt-6;
  }

  .post-content ol {
    @apply list-decimal pl-7;
  }

  .icon-shift {
    position: relative;
    margin-top: -4px;
  }

  .publisher-badge {
    margin-top: 0.185rem;
  }

  .book {
    @apply overflow-hidden relative;
  }

  .book .fill {
    @apply w-full;
    padding-bottom: 157.5%;
  }

  .book img {
    @apply absolute top-0 left-0 w-full object-cover object-center;
  }

  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@font-face {
  font-family: "CalibreWeb";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/CalibreWeb-Regular.woff") format("woff"),
    url("/fonts/CalibreWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CalibreWeb";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/CalibreWeb-Semibold.woff") format("woff"),
    url("/fonts/CalibreWeb-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/TiemposTextWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/TiemposTextWeb-Semibold.woff") format("woff");
}

@font-face {
  font-family: "TiemposTextWeb";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/TiemposTextWeb-SemiboldItalic.woff") format("woff");
}
